<nav class="navbar navbar-dark bg-dark" style="width:100vw ;position:sticky;top:0px;">
    <div class="container-fluid">
      <a class="navbar-brand">Navbar</a>
      <% if(locals.userCookie){ %>
        <form class="d-flex" role="search" method="post" action="/user/logOut">
          <button class="btn btn-outline-success" type="submit">Logout</button>
        </form>

      <% }else{ %>  
      <form class="d-flex" role="search" method="post" action="/user/signInSignUp">
        <input class="form-control me-2" type="search" placeholder="Enter Your Email" aria-label="Search" name="email">
        <button class="btn btn-outline-success" type="submit">Login</button>
      </form>
      <% } %> 
    </div>
</nav>