
<% if(locals.userCookie){%>
    <!-- <h3>Hi<%=locals.userEmail%> </h3> -->
    <div style="margin-top:10px;margin-left: auto;margin-right: auto;display:flex;width: 60vw;height: 20vh; justify-content: center;">
        <form class="row g-3" method="post" action="/habit/addHabit">
            <div class="col-auto">
            <input type="text" class="form-control" placeholder="Add a Habit To Track" style="background:transparent;border:1px solid black" name="habit">
            </div>
            <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">ADD</button>
            </div>
        </form>
    </div>
    <div class="habit-container" >
        <% for(let i of userHabits){%>
            <div class="card w-75 text-bg-dark mb-3"style="background:rgba(33,37,41,0.9)!important;">
                <div class="card-body" style="display:flex; flex-direction:row;justify-content:space-between;align-items: center;">
                    <div style="width:10vw ;">
                    <h5 class="card-title"><%=i.habitName%></h5>
                    </div>
                    <div style="width:40vw ;">
                        <form action="/habit/executeHabit/<%=i.id%>" method="post" style="display:flex;flex-direction: row;flex-wrap: nowrap;justify-content: space-around;align-items: center;">
                        <!-- <input type="date" style="background:transparent; color:white;outline: none;border: 0px;" placeholder="Date" aria-placeholder="Date" name="date" required> -->
                        <select class="form-select date" aria-label="Default select example" style="width:35%;background:transparent;color:pink !important;" name="date" id="date" >

                        </select>
                        <select class="form-select" aria-label="Default select example" style="width:25%;background:transparent;color:pink !important;" name="status">
                            <option selected value="None">NONE</option>
                            <option value="Done">DONE</option>
                            <option value="Not done">NOT DONE</option>
                        </select>
                        <button type="submit" class="btn btn-primary" >Button</button>
                        </form>
                    </div>
                  <a href="/habit/deleteHabit/<%=i._id%>"><i class="fa-solid fa-trash" style="color:red;"></i></a>
                </div>
              </div>
        <% } %>  
    </div>
<% } %>  
<script src="/js/home.js"></script>
