body{
    background-image: url("../images/background2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
/* .bg-dark{
    /* background-color:#151E30; */
    /* background-image: url("../images/background3.jpg") !important;
    background-size: 100% auto;
    background-repeat: no-repeat; */
/* }  */

.habit-container{
    overflow-y: scroll;
    width:80vw;
    height: 60vh;
    margin-top:auto;
    display:flex;
    flex-direction:column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.habit-container::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .habit-container{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  input[type="date"]:in-range::-webkit-datetime-edit-year-field, input[type="date"]:in-range::-webkit-datetime-edit-month-field, input[type="date"]:in-range::-webkit-datetime-edit-day-field, input[type="date"]:in-range::-webkit-datetime-edit-text { 	color: transparent; }

  input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
td,th{
  text-align: center;
}
td{
  transition: all 0.5s ease-in-out;
}
.status-none{
  background-color: grey !important;
  
}
.status-done{
  background-color: green !important;
}
.status-not-done{
  background-color: red !important;
}
@media screen and (min-width: 834px) {
  body {
    background-size:100%;
  }
}
#header-button-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 30vw;
  justify-content: space-between;
  align-items: center;
}